@import "tailwindcss";

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --font-header: 'Newsreader', serif;
  --color-primary-blue: #1A56DB;
  --color-single-orange: #FFA924;
  --color-stack-teal: #006E65;
  --color-neutral-stone: #E3E2E4;
  --color-dark-theme: #131210;
  --color-light-theme: #F5F7F9;
  --color-medium-gray: #514F4A;
  --color-semi-white: #FCFCFD;
  --color-straight-green: #1B6F4A
}
.dark{
  background-color: var(--color-dark-theme);
}